h1, h2, footer {	
	font-family: 'Maiden Orange', cursive;
}

h1	{
	font-size: 6em;
}

h2	{
	font-size: 3em;
}

h1 a {
	color: #000;
	text-decoration: none;
}

footer	{
	font-size: 1.5em;
}

#maincontent p	{
	font-family: Georgia, serif;
	font-size: 1.5em;
}